In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.DataFrame([
    ['green', 'M', 10.1, 'class2'],
    ['red', 'L', 13.5, 'class1'],
    ['blue', 'XL', 15.3, 'class2']])
df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.5     class1
2   blue   XL   15.3     class2

In [3]:
# Nominal data
df_colors = pd.get_dummies(df['color'], drop_first=True) # One Hot Encoder
df_colors

   green  red
0      1    0
1      0    1
2      0    0

In [4]:
# Ordinal data
size_mapping = {'M' : 1, 'L' : 2, 'XL' : 3}
inv_size_mapping = {numbers: letters for letters, numbers in size_mapping.items()}

df_size = df.copy()
df_size = df_size.drop(df.columns.difference(['size']), axis=1)
df_size['size'] = df_size['size'].map(size_mapping)
df_size

   size
0     1
1     2
2     3

In [5]:
# Class labels
df_classlabel = df.copy()
df_classlabel = df_classlabel.drop(df.columns.difference(['classlabel']), axis=1)

label_encoder = LabelEncoder()
label_encoder.fit(df['classlabel'])
df_classlabel['classlabel'] = label_encoder.transform(df['classlabel'].values)
df_classlabel

   classlabel
0           1
1           0
2           1

In [6]:
df_clean = pd.concat([df_colors, df_size, df['price'], df_classlabel], axis=1)
df_clean

   green  red  size  price  classlabel
0      1    0     1   10.1           1
1      0    1     2   13.5           0
2      0    0     3   15.3           1